In [18]:
from splinter import Browser
from bs4 import BeautifulSoup
import pymongo
import requests
import pandas as pd

In [19]:
url = 'https://mars.nasa.gov/news/'
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.nasa_db
collection = db.articles

In [20]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
headline = soup.find('div', class_ = 'content_title').find('a').text
body = soup.find('div', class_ = 'rollover_description_inner').text

In [21]:
print(headline)
print(body)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover


NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [22]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [24]:
image_url = soup.find('footer').find('a')['data-fancybox-href']

featured_image_url = f'https://www.jpl.nasa.gov{image_url}'

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16842_ip.jpg

In [25]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitter_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [28]:
url = 'https://space-facts.com/mars/'

mars_df = pd.read_html(url)[2]
mars_df.columns = ['Description', 'Value']
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
mars_df_html = mars_df.to_html()

In [ ]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')